// Base file is where I have the resets, variables, mixins, and some utility CSS classes.
// It may look like there is a lot to fit in a single file.
// However, some of these subsets may only have less than 20 lines, some subsets may not even have any code.

.logoTitle {
  font-size: 20rem;
  color: #81afe2;
}

.divider {
  background-color: #81afe2;
}
